.menu {
    width: 220px;
    height: 100vh;
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: 0.2s;
  }
  
  .menu a:hover {
    background: #333;
  }
  
  .menu a.active {
    background: #646cff;
    font-weight: bold;
  }
  